.transparent_area {
    opacity:0;
    filter: alpha(opacity = 0);
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    display:block;
    z-index:9999;
    background:transparent;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 25%;
    height: 25%;
    padding: 16px;
    border: 1px solid blue;
    background-color: #ffffff;
    z-index:1002;
    overflow: auto;
    opacity: 0.8;
}

.wait_message {
    text-align: center;
    margin-top: 40px;
}