@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,700,400&subset=cyrillic,latin);
.transparent_area {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 9999;
    background: transparent;
}

.biomio_black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

.biomio_popup_gray {
    display: none;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    border: 4px solid #656a7f;
    border-radius: 4px;
    color: #656a7f;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 45%;
    z-index: 1002;
    overflow: auto;
}

.biomio_wait_message {
    display: none;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 34px 0;
}

.popgrtextsmall {
    display: none;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    padding: 0 15px 15px 15px;
}

.popgrheader {
    background-color: #656a7f;
    padding: 9px;
    text-align: left;

}

#biomio_timer {
    display: none;
    color: #fa8768;
    padding: 15px;
    text-align: center;
    font-size: 64px;
}

#biomio_ok_button, #biomio_yes_button, #biomio_no_button, #biomio_cancel_button {
    display: none;
}

/*.biomio_buttons {*/
/*text-align: center;*/
/*}*/

/*#close_popup {*/
/*margin-bottom: -16px;*/
/*margin-top: -14px;*/
/*float: right;*/
/*margin-right: -8px;*/
/*cursor: pointer;*/
/*}*/

/*#biomio_mark {*/
/*float: left;*/
/*margin-top: -10px;*/
/*margin-left: -5px;*/
/*}*/

.bio-enc-btn {
    display: inline-block;
    padding: 6%;
    vertical-align: middle;
    background: url('chrome-extension://__MSG_@@extension_id__/images/Logo-48x48.png') no-repeat;
    cursor: pointer;
    background-size: contain;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
}

.bio-enc-btn.down {
    background: url('chrome-extension://__MSG_@@extension_id__/images/Logo-48x48.png') no-repeat;
    background-size: contain;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom: solid 2px #eaeaea;
    border-right: solid 2px #eaeaea;
}

.bio-enc-btn.disabled, .bio-enc-btn.down.disabled {
    pointer-events: none;
    opacity: 0.5;
}

a.proceed-button {
    color: #fff;
    background-color: #fa8768;
    padding: 14px 14px 14px 50px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/lock.png');
    background-repeat: no-repeat;
    background-position: 11px center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px 20px 20px;
}

a.simple-button {
    color: #fff;
    background-color: #9ea2b3;
    padding: 14px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px 20px 20px;
    float: right;
}

.close-button {
    float: right;
    padding: 4px 9px;
}